<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script type="text/javascript" th:src=@{/js/jquery-3.4.1.min.js}></script>
<script type="text/javascript" th:src=@{/js/jquery.ztree.core.min.js}></script>
<script type="text/javascript" th:src=@{/js/jquery.ztree.excheck.min.js}></script>
<link rel="stylesheet" th:href="@{/css/zTreeStyle.css}">
<link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>

</body>
</html>